<div id="<%= dom_id task %>" style="padding:0.5em; background-color:silver; margin: 0.5em;">
  <p>
    <strong>Username:</strong>
    <%= task.id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= task.title %>
  </p>

  

  

</div>